/* Clear side margins */
* {
    margin: 0;
    padding: 0;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    color: #ffffff;
}
/* Top Bar Styling */
.topBar{
    display: flex;
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right, #202030, #404050);
}
#siteTitle{
    flex-direction: row;
    flex-grow: 0;
    padding-left: 15px;
    margin: 15px;
    font-weight: bold;
    /* position: relative;
    left: 75px;
    line-height: 50px; */
}
#siteTitle:hover{
    cursor: pointer;
}
#indicator{
    margin-top: 15px;
    font-size: 12px;
}
/* Link Styling */
.linkNoLine{
    text-decoration: none;
}
.linkNoLine:hover{
    cursor: pointer;
}
/* Navigation Pane Styling */
.navPane{
    height: 100vh;
    width: 200px;
    background-image: linear-gradient(#202030, #404050);
    font-size: 14px;
}
.navList{
    margin: 25px;
    list-style-type: square;
}
.navLink{
    padding: 20px;
}
.projectsDrop{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.projectsDrop:hover{
    cursor: crosshair;
}
.projectLink{
    margin-top: 20px;
    display: none;
    font-size: 12px;
    /* overflow: hidden; */
}
/* Work Space styling */
.workSpace{
    height: 100vh;
    width: calc(100vw - 200px);
    background-image: linear-gradient(140deg, #303040, #505060);
    display: flex;
}
/* Helper Classes */
.left {
    float: left;
}
.right {
    float: right;
}
.clearBoth{
    clear: both;
}
.textCenter{
    text-align: center;
}